<!DOCTYPE html>
<html>
<head>
<title>Support Assistant</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Support Assistant</h2>
<div id="chatbox"></div>
<input type="text" id="msg" placeholder="Type your message..." />
<button onclick="sendMsg()">Send</button>

<script>
function sendMsg() {
  let message = document.getElementById("msg").value;
  fetch("/chat", {
    method: "POST",
    headers: {"Content-Type": "application/x-www-form-urlencoded"},
    body: "message=" + message
  })
  .then(res => res.json())
  .then(data => {
    document.getElementById("chatbox").innerHTML +=
      "<p><b>You:</b> " + message + "</p>" +
      "<p><b>Bot:</b> " + data.reply + "</p>";
    document.getElementById("msg").value = "";
  });
}
</script>
</body>
</html>
